html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    background-color: #820a0a;
}

#wrapper
{
    margin: 0 auto;
    width: 760px;
    padding: 20px;
    height: 100%;
    min-height: 750px;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, .2);
    background-color: #e8daae;
}

h1
{
    color: #820a0a;
    font-size: 30px;
    border-bottom: 1px solid #820a0a;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-weight: normal;
}

.choice
{
    text-align: center;
    margin-top: 40px;
}

p a
{
    color: #820a0a;
}

#reveal
{
    position: relative;
    width: 128px;
    height: 128px;
    margin: 0 auto;
    cursor: pointer;
}

#reveal div
{
    position: absolute;
    top: 0;
    height: 128px;
    width: 128px;
} 

#reveal div.left
{
    background-image: url(../img/present_left.png);
    left: 0;
}

#reveal div.right
{
    background-image: url(../img/present_right.png);
    right: 0;
}

#reveal p
{
    width: 104px;
    height: 72px;
    position: absolute;
    background-color: #c1db7d;
    color: #4d5c29;
    top: 15px;
    left: 12px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    border: 1px solid #4d5c29;
    overflow: hidden;
    display: none;
}

#reveal p span.name
{
    font-size: 120%;
    font-weight: bold;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

#reveal p a
{
    color: white;
    text-shadow: 1px 1px 1px #4d5c29;
    text-decoration: none;
}

#reveal p a:hover
{
    text-decoration: underline;
}

table {
    background-color: white;
    border: 1px solid #333;
    border-spacing: 0;
}

td, th {
	padding: 5px;
}

th {
	color: #820a0a;
}

th.title {
	background-color: #820a0a;
	color: white;
	text-align: left;
}

tr.odd {
	background-color: #ddd;
}
