<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Secret Santa 2016</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
        <script src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
        <script src="{{ STATIC_URL }}js/main.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <h1>Secret Santa 2016</h1>
            {% if remaining_people %}
            <p>This hasn't really changed in the last few years but for anyone just joining us:</p>
            <ol>
              <li>Pick your name from the list below.</li>
              <li>Click the present.</li>
              <li>Gasp at the amazing animated reveal.</li>
              <li>The person revealed is who you are buying a present for.</li>
              <li>You can only do this once, so remember that person!</li>
            </ol>
                <p class="choice">I am
                    <select name="picker" id="picker">
                        <option value="--">--</option>
                        {% for person in remaining_people %}
                            <option value="{{ person.id }}">{{ person }}</option>
                        {% endfor %}
                    </select>
                </p>
            {% else %}
                <p>It looks like everyone has picked. If you <em>haven't</em> picked yet, please <a href="mailto:pete.baehr@gmail.com">let me know</a>.</p>
            {% endif %}
            <div id="reveal">
                <p>
                    Your Secret Santa pick is
                    <br />
                    <span class="name"></span>.
                    <br />
                    <a href="#" class="reset">I've got it, reset the page!</a>
                </p>
                <div class="left"></div>
                <div class="right"></div>
            </div>
            <audio preload="auto" id="tearing">
                <source src="{{ STATIC_URL }}audio/tear.ogg" type="audio/ogg">
                <source src="{{ STATIC_URL }}audio/tear.mp3" type="audio/mp3">
            </audio>
        </div>
    </body>
</html>
